* {
	box-sizing: border-box;
	background-color: rgb(104, 184, 230);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
}

.title {
	padding: 2.5rem;
	font-size: 2.5rem;
}

img {
	width: 70%;
}
